*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav>ul{
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 40px;
    align-items: center;
}

li{
    list-style: none;
}

.btn{
    color:  rgba(255, 255, 255, 1);
    background-color:rgba(70, 145, 101, 1);
    border: 0;
    border-radius: 4px;
    padding: 16px 12px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn2{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border:1px solid white;
    border-radius: 4px;
    padding: 16px 12px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#banner{
    background: url(assets/hero-bg.png);
    padding: 100px 0;
}

#earlyAccess{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
    margin: auto;
}

#earlyAccess>img{
    height: 20px;
}

#earlyAccess>h4{
    margin: 0;
    color: rgba(70, 145, 101, 1);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

#banner>h1{
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;
}

#banner>p{
    color: white;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 45%;
    margin: auto;
}

#bannerBtn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

main{
    margin: 0 100px;
}

#notes{
    text-align: center;
    background-color: #6273820a;
    margin: 0 -100px;
    padding: 50px 100px 0;
}

#notes>h1{
    color: rgba(0, 25, 49, 1);
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}

#notes>p{
    color: rgba(98, 115, 130, 1);
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}

#noteBoxes{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.noteBox{
    background-color: white;
    padding: 24px;
    border-radius: 8px 8px 0 0;
    
}

.noteBox>img{
    
    background-color: rgba(249, 85, 85, 1);
    padding: 8px;
    border-radius: 100%;
    margin-top: 20px;
}

.noteBox>h2{
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
}

.noteBox>p{
    padding: 0 10px;
    margin: auto;
}

.secondaryLine{
    color: rgba(98, 115, 130, 1);
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}

#brain{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
}


#brainContent>h4{
    color: rgba(70, 145, 101, 1);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

#brainContent>h1{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}

.checkList{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

#thinkMore{
    text-align: center;
    margin-top: 100px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding: 40px 80px;
}
#thinkMore>button{
    margin: auto;
}

#thinkMore>h1{
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
}

#thinkMoreText{
    width: 50%;
    margin: auto;
}